SetEnvIf Request_URI ".*" Ngx_Cache_NoCacheMode=off
SetEnvIf Request_URI ".*" Ngx_Cache_AllCacheMode

# BEGIN WordPress - DISABLED for static site
# WordPressのリライトルールが静的サイトでリダイレクトループを引き起こすため無効化
# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# RewriteBase /
# RewriteRule ^index\.php$ - [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /index.php [L]
# </IfModule>
# END WordPress - DISABLED

# 静的サイト用の最小限設定
AddDefaultCharset UTF-8

# PHPファイルの実行許可
<Files "*.php">
Order Allow,Deny
Allow from all
</Files> 